node_modules
/.next
/.next
/out
/.next
/.next
.next/app-build-manifest.json
.next/build-manifest.json
.next/cache/.tsbuildinfo
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/12.pack.gz
.next/cache/webpack/client-development/13.pack.gz
.next/cache/webpack/client-development/14.pack.gz
.next/cache/webpack/client-development/15.pack.gz
.next/cache/webpack/client-development/17.pack.gz
.next/cache/webpack/client-development/18.pack.gz
.next/cache/webpack/client-development/21.pack.gz
.next/cache/webpack/client-development/9.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-production/0.pack
.next/cache/webpack/client-production/index.pack
.next/cache/webpack/edge-server-production/index.pack
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/10.pack.gz
.next/cache/webpack/server-development/11.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/6.pack.gz
.next/cache/webpack/server-development/7.pack.gz
.next/cache/webpack/server-development/8.pack.gz
.next/cache/webpack/server-development/9.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/cache/webpack/server-production/0.pack
.next/cache/webpack/server-production/index.pack
.next/fallback-build-manifest.json
.next/react-loadable-manifest.json
.next/server/_error.js
.next/server/app-paths-manifest.json
.next/server/app/_not-found/page.js
.next/server/app/_not-found/page_client-reference-manifest.js
.next/server/app/Baghdad/page.js
.next/server/app/Baghdad/page_client-reference-manifest.js
.next/server/app/blog/page.js
.next/server/app/blog/page_client-reference-manifest.js
.next/server/app/page.js
.next/server/app/page_client-reference-manifest.js
.next/server/app/projects/page.js
.next/server/app/projects/page_client-reference-manifest.js
.next/server/app/resume/page.js
.next/server/app/resume/page_client-reference-manifest.js
.next/server/interception-route-rewrite-manifest.js
.next/server/middleware-build-manifest.js
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/pages-manifest.json
.next/server/pages/_app.js
.next/server/pages/_document.js
.next/server/pages/_error.js
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/vendor-chunks/@swc.js
.next/server/vendor-chunks/framer-motion.js
.next/server/vendor-chunks/lucide-react.js
.next/server/vendor-chunks/next.js
.next/server/webpack-runtime.js
.next/static/chunks/_app-pages-browser_app_Baghdad_components_BlogEditor_tsx.js
.next/static/chunks/_app-pages-browser_app_Baghdad_components_ProjectEditor_tsx.js
.next/static/chunks/_app-pages-browser_app_Baghdad_components_ResumeEditor_tsx.js
.next/static/chunks/_error.js
.next/static/chunks/app-pages-internals.js
.next/static/chunks/app/_not-found/page.js
.next/static/chunks/app/Baghdad/page.js
.next/static/chunks/app/blog/page.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/page.js
.next/static/chunks/app/projects/page.js
.next/static/chunks/app/resume/page.js
.next/static/chunks/fallback/amp.js
.next/static/chunks/fallback/main.js
.next/static/chunks/fallback/pages/_app.js
.next/static/chunks/fallback/pages/_error.js
.next/static/chunks/fallback/react-refresh.js
.next/static/chunks/fallback/webpack.js
.next/static/chunks/main-app.js
.next/static/chunks/main.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/chunks/polyfills.js
.next/static/chunks/react-refresh.js
.next/static/chunks/webpack.js
.next/static/css/app/layout.css
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/static/webpack/02d98ed088942d49.webpack.hot-update.json
.next/static/webpack/094b82c178fab54a.webpack.hot-update.json
.next/static/webpack/193d6b7378575286.webpack.hot-update.json
.next/static/webpack/2d2a2f5821e32756.webpack.hot-update.json
.next/static/webpack/36d7932e1c543191.webpack.hot-update.json
.next/static/webpack/38cde5efe1988696.webpack.hot-update.json
.next/static/webpack/49dc2874727f5654.webpack.hot-update.json
.next/static/webpack/5cb92a7c547b45cc.webpack.hot-update.json
.next/static/webpack/5f05258b4d6e5392.webpack.hot-update.json
.next/static/webpack/626887c2c237853c.webpack.hot-update.json
.next/static/webpack/633457081244afec._.hot-update.json
.next/static/webpack/6e3766fa3bb21150.webpack.hot-update.json
.next/static/webpack/72b7c83e424cc236.webpack.hot-update.json
.next/static/webpack/74bd9576e7fed0b3.webpack.hot-update.json
.next/static/webpack/756525c4ea70d0c0.webpack.hot-update.json
.next/static/webpack/7a76989cbc5a63c3.webpack.hot-update.json
.next/static/webpack/8f8f5fbe13993328.webpack.hot-update.json
.next/static/webpack/_app-pages-browser_app_Baghdad_components_BlogEditor_tsx.36d7932e1c543191.hot-update.js
.next/static/webpack/_app-pages-browser_app_Baghdad_components_ResumeEditor_tsx.b20b74cc457f7139.hot-update.js
.next/static/webpack/a03a34e7bbcf0824.webpack.hot-update.json
.next/static/webpack/a9583207d9c68272.webpack.hot-update.json
.next/static/webpack/aec6f178ef9730b8.webpack.hot-update.json
.next/static/webpack/app/layout.193d6b7378575286.hot-update.js
.next/static/webpack/app/layout.36d7932e1c543191.hot-update.js
.next/static/webpack/app/layout.38cde5efe1988696.hot-update.js
.next/static/webpack/app/layout.49dc2874727f5654.hot-update.js
.next/static/webpack/app/layout.5cb92a7c547b45cc.hot-update.js
.next/static/webpack/app/layout.5f05258b4d6e5392.hot-update.js
.next/static/webpack/app/layout.626887c2c237853c.hot-update.js
.next/static/webpack/app/layout.72b7c83e424cc236.hot-update.js
.next/static/webpack/app/layout.74bd9576e7fed0b3.hot-update.js
.next/static/webpack/app/layout.756525c4ea70d0c0.hot-update.js
.next/static/webpack/app/layout.7a76989cbc5a63c3.hot-update.js
.next/static/webpack/app/layout.8f8f5fbe13993328.hot-update.js
.next/static/webpack/app/layout.a03a34e7bbcf0824.hot-update.js
.next/static/webpack/app/layout.a9583207d9c68272.hot-update.js
.next/static/webpack/app/layout.aec6f178ef9730b8.hot-update.js
.next/static/webpack/app/layout.b20b74cc457f7139.hot-update.js
.next/static/webpack/app/layout.d98fce5bb10c6bad.hot-update.js
.next/static/webpack/app/layout.e2d68cadf5201f79.hot-update.js
.next/static/webpack/app/layout.eefde39c6097e143.hot-update.js
.next/static/webpack/app/layout.f19436ac0cafaba2.hot-update.js
.next/static/webpack/app/layout.f21a6264dbdabdb9.hot-update.js
.next/static/webpack/app/page.72b7c83e424cc236.hot-update.js
.next/static/webpack/app/page.74bd9576e7fed0b3.hot-update.js
.next/static/webpack/app/resume/page.38cde5efe1988696.hot-update.js
.next/static/webpack/app/resume/page.5cb92a7c547b45cc.hot-update.js
.next/static/webpack/app/resume/page.626887c2c237853c.hot-update.js
.next/static/webpack/app/resume/page.8f8f5fbe13993328.hot-update.js
.next/static/webpack/app/resume/page.a03a34e7bbcf0824.hot-update.js
.next/static/webpack/app/resume/page.a9583207d9c68272.hot-update.js
.next/static/webpack/app/resume/page.d8857e6ec9bb0102.hot-update.js
.next/static/webpack/app/resume/page.e2d68cadf5201f79.hot-update.js
.next/static/webpack/app/resume/page.eefde39c6097e143.hot-update.js
.next/static/webpack/b20b74cc457f7139.webpack.hot-update.json
.next/static/webpack/d8857e6ec9bb0102.webpack.hot-update.json
.next/static/webpack/d98fce5bb10c6bad.webpack.hot-update.json
.next/static/webpack/df3e92c212492a25.webpack.hot-update.json
.next/static/webpack/e2ac7ac1b118dbb0.webpack.hot-update.json
.next/static/webpack/e2d68cadf5201f79.webpack.hot-update.json
.next/static/webpack/eefde39c6097e143.webpack.hot-update.json
.next/static/webpack/f19436ac0cafaba2.webpack.hot-update.json
.next/static/webpack/f21a6264dbdabdb9.webpack.hot-update.json
.next/static/webpack/webpack.02d98ed088942d49.hot-update.js
.next/static/webpack/webpack.094b82c178fab54a.hot-update.js
.next/static/webpack/webpack.193d6b7378575286.hot-update.js
.next/static/webpack/webpack.2d2a2f5821e32756.hot-update.js
.next/static/webpack/webpack.36d7932e1c543191.hot-update.js
.next/static/webpack/webpack.38cde5efe1988696.hot-update.js
.next/static/webpack/webpack.49dc2874727f5654.hot-update.js
.next/static/webpack/webpack.5cb92a7c547b45cc.hot-update.js
.next/static/webpack/webpack.5f05258b4d6e5392.hot-update.js
.next/static/webpack/webpack.626887c2c237853c.hot-update.js
.next/static/webpack/webpack.6e3766fa3bb21150.hot-update.js
.next/static/webpack/webpack.72b7c83e424cc236.hot-update.js
.next/static/webpack/webpack.74bd9576e7fed0b3.hot-update.js
.next/static/webpack/webpack.756525c4ea70d0c0.hot-update.js
.next/static/webpack/webpack.7a76989cbc5a63c3.hot-update.js
.next/static/webpack/webpack.8f8f5fbe13993328.hot-update.js
.next/static/webpack/webpack.a03a34e7bbcf0824.hot-update.js
.next/static/webpack/webpack.a9583207d9c68272.hot-update.js
.next/static/webpack/webpack.aec6f178ef9730b8.hot-update.js
.next/static/webpack/webpack.b20b74cc457f7139.hot-update.js
.next/static/webpack/webpack.d8857e6ec9bb0102.hot-update.js
.next/static/webpack/webpack.d98fce5bb10c6bad.hot-update.js
.next/static/webpack/webpack.df3e92c212492a25.hot-update.js
.next/static/webpack/webpack.e2ac7ac1b118dbb0.hot-update.js
.next/static/webpack/webpack.e2d68cadf5201f79.hot-update.js
.next/static/webpack/webpack.eefde39c6097e143.hot-update.js
.next/static/webpack/webpack.f19436ac0cafaba2.hot-update.js
.next/static/webpack/webpack.f21a6264dbdabdb9.hot-update.js
.next/trace
